<div class="flex flex-col flex-auto pt-1 px-5 py-5 min-w-0 dark:bg-transparent bg-white">

    <!-- Header -->
    <div class="flex flex-col">
        <div class="flex flex-0 min-w-0">
            <button class="flex  space-x-2 bg-gray-100 p-2 rounded">
                <mat-icon svgIcon="feather:arrow-left-circle" class="icon-size-5"></mat-icon>
                <span>Back</span>
            </button>
        </div>
    </div>

    <div class="flex-auto">
        <div class="grid md:grid-flow-col md:grid-cols-2 md:grid-rows-1 sm:grid-flow-row sm:grid-cols-1 sm:grid-rows-2 gap-2 pt-5">
            <div>
                <fuse-card>
                    <img
                        class=""
                        src="assets/images/cards/06-320x200.jpg"
                        alt="Card cover image">
                </fuse-card>
            </div>
            <!-- ... -->
            <div class="flex flex-col space-y-5">
                <div>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolorum quae temporibus sapiente velit omnis deserunt error veniam accusantium odit vero voluptas, cupiditate odio voluptates sint cum magnam consectetur asperiores.</span>
                </div>
                <div class="flex space-x-5">
                     <span>
                         Auteur: 
                     </span>
                     <span class="text-blue-400">Cyril Pereira</span>
                </div>
                <div class="flex space-x-5">
                     <span>
                         ID: 
                     </span>
                     <span class="text-gray-400">ff5105d-ebb1-431f-b487-Oec41fbb2bb2</span>
                </div>
                <div class="flex space-x-5">
                    <button class="bg-gray-100 p-2 rounded flex">
                        <mat-icon svgIcon="mat_solid:arrow_circle_down" class="icon-size-5"></mat-icon>
                        <span>Télécharger l'échantillon</span>
                    </button>
                    <button class="bg-gray-100 p-2 rounded flex">
                        <mat-icon svgIcon="mat_solid:favorite" class="icon-size-5"></mat-icon>
                        <span>Favoris</span>
                    </button>
                    <button class="p-2 rounded border-2 border-blue-400 flex">
                        <mat-icon svgIcon="mat_solid:delete" class="icon-size-5 text-blue-400"></mat-icon>
                         <span class="text-blue-400 ">Retirer</span>
                    </button>
                </div>
                <div class="flex flex-col">
                    <div class="font-semibold">Description</div>
                    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At deserunt doloribus perspiciatis unde sequi temporibus vero. Neque numquam quod aperiam officia, fugiat porro dolorem perspiciatis quis blanditiis cum deserunt rem?
                    Deserunt rerum soluta et commodi quo earum accusamus autem ipsam.</div>

                </div>
                <div class="flex">
                    <table class="table-auto">
                        <thead>     
                            <tr>  
                                <th>Orientation</th>
                                <th>Dimension</th>
                                <th>Price</th>
                            </tr> 
                        </thead>
                        <tbody>
                             <tr>
                                 <td>vertical</td>
                                 <td>1280x1024</td>
                                 <td>678,00 €</td>
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="grid grid-flow-row space-y-5 pt-5">
            <div class="flex flex-col">
                <div>
                    Mots clefs
                </div>
                <div class="flex space-x-5 text-gray-400 opacity-100">
                   <button>Cable</button>
                   <button>Police</button>
                   <button>Metal</button>
                </div>
            </div>
            <div class="flex space-x-5">
                <div>
                    Catégories:
                </div>
                <div class="space-x-2 text-blue-400 opacity-100">
                   <button>Ville </button> /
                   <button>Cité</button>
                </div>
            </div>
            <div class="flex flex-col space-x-5 border-t border-b">
                <div>
                    De la même catégories
                </div>
                <div class="space-x-2 text-blue-400 opacity-100">
                   <!-- <button>Ville </button> /
                   <button>Cité</button> -->
                </div>
            </div>
            <div class="flex flex-col border-t border-b">
                <div>
                    Du même auteur
                </div>
                <div clas="flex sm:flex-col md:flex-row ">
                    <div class="flex space-x-2">
                        <div class="flex h-40">
                            <img
                                class="rounded object-cover"
                                src="assets/images/cards/01-320x200.jpg"
                                alt="Card cover image">
                        </div>
                        <div class="flex h-40">
                            <img
                                class="rounded object-cover"
                                src="assets/images/cards/16-640x480.jpg"
                                alt="Card cover image">
                        </div>
                        <div class="flex h-40">
                            <img
                                class="rounded object-cover"
                                src="assets/images/cards/02-320x200.jpg"
                                alt="Card cover image">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    
