<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="relative pt-8 pb-28 px-4 sm:pt-20 sm:pb-48 sm:px-16 overflow-hidden"style="background-image: url('https://cdn.pixabay.com/photo/2021/08/29/19/25/matterhorn-6584103_1280.jpg')">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center">
            <!-- <h2 class="text-xl font-semibold">HELP CENTER</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                How can we help you today?
            </div> -->
            <div class="mt-6 sm:text-2xl text-center tracking-tight text-secondary">
                Find the media you need,with the correct content.
            </div>
            <!-- <mat-form-field class="fuse-mat-no-subscript fuse-mat-rounded fuse-mat-bold w-full max-w-80 sm:max-w-120 mt-10 sm:mt-20"> -->
                <mat-form-field [color]="'primary'" class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded max-w-80 w-full min-w-120 mt-5">
                <input  matInput >
                <mat-icon
                    matPrefix
                    [svgIcon]="'heroicons_outline:search'"></mat-icon>
            </mat-form-field>
        </div>
    </div>
  
       <!-- Toolbar -->
       <div class="flex min-h-16 px-4 md:px-6 border-b bg-gray-400 dark:bg-transparent items-center justify-center">
        <span>Search and get the image you need start now</span>
       </div>
       <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-2 sm:py-2 sm:px-8 border-b bg-card dark:bg-transparent">
        <!-- <div class="flex items-center p-4 sm:p-4  space-x-1 sm:space-x-8 space-y-2"> -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-8 md:mt-8 flex items-center justify-center space-y-2">
            <ng-container *ngFor="let component of components">
                <a
                    class="flex flex-col rounded-2xl shadow overflow-hidden bg-card-2 hover:shadow-xl transition-shadow duration-200 ease-in-out"
                    [href]="'https://material.angular.io/components/' + component.id"
                    target="_blank"
                    rel="noreferrer">
                    <img
                        class="w-ful object-cover border-b"
                        [src]="'assets/images/ui/angular-material/scenes/' + component.id + '.scene.jpg'">
                    <div class="py-2 px-5">
                        <div class="text-xl text-secondary">{{component.name}}</div>
                        <div class="mt-1 text-secondary">{{component.summary}}</div>
                    </div>
                </a>

            </ng-container>
    </div>
</div>
</div>
