<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
            <!-- Github issues summary -->
            <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex flex-col sm:flex-row items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Statistique</div>
                    <div class="mt-3 sm:mt-0 sm:ml-2">
                        <mat-button-toggle-group
                            value="this-week"
                            #githubIssuesWeekSelector="matButtonToggleGroup">
                            <mat-button-toggle value="last-week">Last Week</mat-button-toggle>
                            <mat-button-toggle value="this-week">This Week</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
                    <!-- New vs. Closed -->
                    <div class="flex flex-col flex-auto">
                        <div class="font-medium text-secondary">Page View</div>
                        <div class="flex flex-col flex-auto">
                            <!-- <apx-chart
                                class="flex-auto w-full h-80"
                                [chart]="chartGithubIssues.chart"
                                
                               
                                [grid]="chartGithubIssues.grid"
                                
                                [legend]="chartGithubIssues.legend"
                              
                                [series]="chartGithubIssues.series[githubIssuesWeekSelector.value]"

                                [stroke]="chartGithubIssues.stroke"
                                [tooltip]="chartGithubIssues.tooltip"
                                [xaxis]="chartGithubIssues.xaxis"
                                [yaxis]="chartGithubIssues.yaxis"></apx-chart> -->
                                <apx-chart
                                [series]="chartOptions.series"
                                [chart]="chartOptions.chart"
                                [xaxis]="chartOptions.xaxis"
                            
                              ></apx-chart>
                        </div>
                    </div>
                                        <!-- New vs. Closed -->
                                        <div class="flex flex-col flex-auto">
                                            <div class="font-medium text-secondary">Page View</div>
                                            <div class="flex flex-col flex-auto">
                                                    <apx-chart
                                                    [series]="chartOptions.series"
                                                    [chart]="chartOptions.chart"
                                                   
                                                
                                                  ></apx-chart>
                                            </div>
                                        </div>
                    <!-- New vs. Closed -->
                    <div class="flex flex-col flex-auto">
                        <div class="font-medium text-secondary">Transaction View</div>
                        <div class="flex flex-col flex-auto">
                            <apx-chart
                                class="flex-auto w-full h-80"
                                [chart]="chartGithubIssues.chart"
                                [colors]="chartGithubIssues.colors"
                                [dataLabels]="chartGithubIssues.dataLabels"
                                [grid]="chartGithubIssues.grid"
                                [labels]="chartGithubIssues.labels"
                                [legend]="chartGithubIssues.legend"
                                [plotOptions]="chartGithubIssues.plotOptions"
                                [series]="chartGithubIssues.series[githubIssuesWeekSelector.value]"
                                [states]="chartGithubIssues.states"
                                [stroke]="chartGithubIssues.stroke"
                                [tooltip]="chartGithubIssues.tooltip"
                                [xaxis]="chartGithubIssues.xaxis"
                                [yaxis]="chartGithubIssues.yaxis"></apx-chart>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto">
                        <div class="font-medium text-secondary">Transaction View</div>
                        <div class="flex flex-col flex-auto">
                            <div id="pie">
                                <apx-chart
                                  [series]="chartOptions.series"
                                  [chart]="chartOptions.chart"

                                ></apx-chart>
                              </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
