<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="relative pt-8 pb-28 px-4 sm:pt-80 sm:pb-48 sm:px-28 bg-auto overflow-hidden"style="background-image: url('https://cdn.pixabay.com/photo/2016/10/14/19/21/canyon-1740973_1280.jpg')">
        <!-- Background - @formatter:off -->
        
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center">
            
            <div class="mt-1 text-2xl sm:text-8xl text-center text-white">
                Sell your contents.
            </div>
            <div class="flex">
                <div><button
                        class="ml-10 mt-1 bg-gray-100 rounded  text-gray-500 border-1 border-blue-400 py-2 px-2">Start now</button></div>
            </div>
        </div>
    </div>
  
       <!-- Toolbar -->
       <div class="flex min-h-16 px-4 md:px-6 border-b dark:bg-transparent items-center justify-center">
       
        <div class="grid grid-cols-3 gap-x-60 gap-y-1">
            <div class="text-2xl">Reach professionnal buyers</div>
            <div class="text-2xl">Manage your medias</div>
            <div class="text-2xl">Control your license</div>
            <div class="font-medium tracking-tight text-secondary">Lorem ipsum azea zeaz ea</div>

            <div class="font-medium tracking-tight text-secondary">Lorem ipsum azea zeaz ea</div>
            <div class="font-medium  tracking-tight text-secondary">Lorem ipsum azea zeaz ea</div>
        </div>
       </div>
       <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-2 sm:py-2 sm:px-8 border-b bg-card dark:bg-transparent">
        <!-- <div class="flex items-center p-4 sm:p-4  space-x-1 sm:space-x-8 space-y-2"> -->
            <div class="flex flex-auto flex items-center justify-center space-y-8">
    
            <div class="mt-2  text-xl text-center">Need and answer ?
                <div class="mt-2 items-center text-center">
                    <button class="items-center bg-transparent hover:bg-blue-500 text-blue-700  hover:text-white py-2 px-0 border border-blue-500 hover:border-transparent rounded">
                        See all questions ?
                      </button>
                </div>
            </div>
    </div>
</div>
</div>